<%- include('header') %>
                                    
                                    
<<div class="container">
    <div class="row">
      
      <div id="loginbox" style="margin-top: 50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="panel-title">Add New Password </div>
            </div>
  <div class="panel-body">
    <form action="/add-new-password" class="form-horizontal" method="POST" role="form">
      <% if(success !='') { %>
        <p><%= success %></p>
        <% } %>
        <div class="form-group">
            <label for="UserName" class="col-md-3 control-label">Password Details</label>
    <div class="col-md-9">
      <select class="form-control" name="pass_cate">
        <option value="">Choose Password Category</option>
        <% if( records.length > 0){
          records.forEach(function(row){
          %>
        <option value="<%= row.password_category %>"><%= row.password_category %></option>
        <%}) }%>


      </select>
      </div>
    </div>

    <div class="form-group">
      <label for="UserName" class="col-md-3 control-label">Project Name</label>
<div class="col-md-9">
<input type="text" class="form-control"  name="project_name"  placeholder="Enter Your Project Name">
</div>
</div>

     
        <div class="form-group">
          <label for="UserName" class="col-md-3 control-label">Password Details</label>
  <div class="col-md-9">
    <textarea class="form-control" id="editor" name="pass_details" rows="5" placeholder="Enter Your Password Details"></textarea>
    </div>
  </div>
  
  
  <div class="form-group">
   
  <div class="col-md-offset-3 col-md-9">
  <input type="submit" name="btn" value="Add Password" class="btn btn-primary">
  </div>
  </div>
  <p> <a href="/view-all-password">View All Password</a></p>
  
  </form>
  </div>
  </div>
  </div>
  </div>
  </div>
<script>
CKEDITOR.replace('editor');
</script>
    
<%- include('footer') %>
